{% extends 'lotteries_caixa/base.html' %}

{% block script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

{% endblock %}

{% block title %}Lotteries Caixa Download{% endblock %}
{% block content %}

{% if message %}
<p class="alert alert-{{color}}">{{ message }}</p>
{% endif %}
<style>
    table.table thead th {
        padding: 0;
    }
</style>

<div class="table-responsive scrollit">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Mega-Sena</th>
                <th>Lotofácil</th>
                <th>Quina</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <a class="btn btn-success btn-sm"
                        href="{{ url_for('app_web.view', premium='megasena') }}">Acessar</a>
                </th>
                <th>
                    <a class="btn btn-success btn-sm"
                        href="{{ url_for('app_web.view',premium='lotofacil') }}">Acessar</a>

                </th>
                <th>
                    <a class="btn btn-success btn-sm" href="{{ url_for('app_web.view',premium='quina') }}">Acessar</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<br>
<a class="btn btn-info btn-lg btn-block" href="{{ url_for('app_web.update_csv') }}">Atualizar Dados</a>
{% endblock %}